 body {
     background-color: #ffe6f2;
     text-align: center;
     font-family: 'Cairo', sans-serif;
     padding: 30px;
 }

 h1 {
     font-size: 80px;
     color: #ff1493;
     text-shadow: 2px 2px 10px rgba(255, 20, 147, 0.5);
     margin-bottom: 40px;
 }

 table {
     margin: 0 auto;
     border-spacing: 25px;
 }

 img {
     width: 300px;
     border-radius: 25px;
     padding: 15px;
     background-color: #ffb6c1;
     border: 3px solid #ff1493;
     transition: transform 0.4s ease, box-shadow 0.4s ease;
     cursor: pointer;
 }

 img:hover {
     transform: scale(1.12);
 }
 .btn {
    text-decoration: none;
    padding: 15px 30px;
    background: linear-gradient(45deg, #ff7adf, #a3008f);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    transition: 0.3s ease;
}

.btn:hover {
    transform: scale(1.08);
    background: linear-gradient(45deg, #a3008f, #ff7adf);
}