body {
  background-color: #ffe6f2;
  text-align: center;
  font-family: "Cairo", sans-serif;
  padding: 30px;
}

#toggleSidebar {
  position: fixed;
  top: 180px;
  left: 0;
  z-index: 1100;
  font-size: 24px;
  background: linear-gradient(45deg, #ff7adf, #a3008f);
  color: #fff;
  border: none;
  border-radius: 0 8px 8px 0;
  padding: 10px 14px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

#toggleSidebar:hover {
  transform: scale(1.1);
}

#sidebar {
  position: fixed;
  top: 220px;
  left: 10px;
  transform: translateX(-120%);
  flex-direction: column;
  gap: 18px;
  z-index: 1000;
  transition: transform 0.3s ease;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 10px;
  backdrop-filter: blur(10px);
}

#sidebar.show {
  transform: translateX(0);
}

#sidebar ul {
  list-style: none;
}

#sidebar ul li {
  margin: 12px 0;
}

#sidebar ul li a {
  color: #2d2d2d;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

#sidebar ul li a:hover {
  color: #ff3399;
  transform: scale(1.1);
}
h1 {
  font-size: 80px;
  color: #ff1493;
  text-shadow: 2px 2px 10px rgba(255, 20, 147, 0.5);
  margin-bottom: 40px;
}

table {
  margin: 0 auto;
  border-spacing: 25px;
}

img {
  width: 300px;
  border-radius: 25px;
  padding: 15px;
  background-color: #ffb6c1;
  border: 3px solid #ff1493;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
}

img:hover {
  transform: scale(1.12);
}
